* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    background: #f0f0f5;
    font-family: 'Roboto', sans-serif;
}

#page-home {
    height: 100vh;
    background: url(./assets/home-background.svg) no-repeat;
    background-position: 35vw bottom;
    background-position-y: 12vh;
}

#page-home .content {
    width: 80%;
    max-width: 1100px;
    margin: 32px auto 0;
}

#page-home header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 32px;
}