* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 80%;
    max-width: 1100px;
    margin: 32px auto 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}