#page-home {
    height: 100vh;
    background: url(../assets/home-background.svg) no-repeat;
    background-position: 35vw bottom;
    background-position-y: 18vh;
}

#page-home .content {
    width: 90%;
    height: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#page-home header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 32px;
}

#page-home header a {
    display: flex;
    color: #322153;
    font-weight: 700;
}

#page-home header a span {
    display: flex;
    background: url(../assets/log-in.svg) no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

#page-home main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}

#page-home main h1 {
    font-size: 54px;
    color: #322153;
}

#page-home main p {
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
    color: #a0a0a1;
}

#page-home main a {
    width: 100%;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    color: #fff;
    background: #34cb79;

    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 80px;

    transition: 400ms;
}

#page-home main a:hover {
    background-color: #2fb86e;
}

#page-home main a span {
    width: 72px;
    height: 72px;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-home main a span::after {
    content: '';
    width: 20px;
    height: 20px;
    background: url(../assets/search.svg) no-repeat;
}

#page-home main a strong {
    color: white;
    flex: 1;

    text-align: center;
}